{% extends 'base.html' %}

{% block title %}{{block.super}}{% endblock %}


{% block script %}
<script>


function getParameterByName(name, url) {
  if (!url) {
    url = window.location.href;
  }
  name = name.replace(/[\[\]]/g, "\\$&");
  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\+/g, " "));
}

function attachTweet(tweetValue, prepend){

  var dateDisplay = tweetValue.date_display
  var tweetContent = tweetValue.content
  var tweetUser = tweetValue.user

  var formattedHtml = "<li class=\"media\"><div style=\"display:inline;\" class=\"media-body\">" + tweetContent + "<br>via <a href='" + tweetUser.url + "'>" + tweetUser.username + "</a> | " + dateDisplay + " | " +  "<a href=\"#\">View</a><hr></div></li>"

  if(prepend==true){
    $('#tweet-container').prepend(formattedHtml)
  } else {
    $('#tweet-container').append(formattedHtml)
  }

}

function updateHashLinks(){
  $('.media-body').each(function(index, data){

      var regex = /(^|\s)#([\w-]+)/g
      var newHtml = $(this).html().replace(regex, "$1<a href='/tags/$2/'>#$2</a>")
      $(this).html(newHtml)
  })
}

function parseTweets(tweetList){
  if(tweetList.length == 0){
    $('#tweet-container').text('No Tweets currently found.')
  }
  else {
    $.each(tweetList, function(index, value){
      // console.log(index, value);
      var tweetKey = index
      attachTweet(value, false)
      updateHashLinks()

    })
  }
}






$(document).ready(function(){

  var query = getParameterByName('q')
  var nextTweetUrl;

  function fetchTweets(url){

    var fetchUrl;
    if(!url){
      fetchUrl = '/api/tweets/?page=1'
    } else {
      fetchUrl = url
    }


      $.ajax({
        url: fetchUrl,
        data: {
          'q': query
        },
        method: 'GET',
        success: function(data){
          if(data.next){
            nextTweetUrl = data.next
          } else {
            $('#loadmore').css('display','none')
          }
          parseTweets(data.results)
        },
        error:function(data){
          console.log('Error');
          console.log(data);
        }
      });
  }

  fetchTweets()

  $('#loadmore').click(function(event){
    event.preventDefault()
    if(nextTweetUrl){
      fetchTweets(nextTweetUrl)
    }

  })


  var totalChars = 280
  var currentChars = 0

  $('#tweet-form').append("<span id='tweetCharsLeft' class='mx-3'>" + totalChars + "</span>")

  $('#tweet-form textarea').keyup(function(event){
    tweetValue = $(this).val()

    currentChars = totalChars - tweetValue.length


    var spanChars = $('#tweetCharsLeft')
    var submitBtn = $('#tweet-form input[type=submit]')
    spanChars.text(currentChars)

    if(currentChars > 0){
      spanChars.removeClass('grey-color')
      spanChars.removeClass('red-color')
      submitBtn.removeAttr('disabled')
    } else if(currentChars == 0){
      spanChars.removeClass('red-color')
      spanChars.addClass('grey-color')
      submitBtn.removeAttr('disabled')
    } else if(currentChars < 0){
      spanChars.removeClass('grey-color')
      spanChars.addClass('red-color')
      submitBtn.attr('disabled','')
    }


  })



  $('#tweet-form').submit(function(event){
    event.preventDefault()
    var this_ = $(this)
    var formData = this_.serialize()


    $.ajax({
      url: '/api/tweets/create/',
      data: formData,
      method: 'POST',
      success: function(data){
        this_.find("input[type=text], textarea").val("")
        attachTweet(data, true)
        updateHashLinks()
      },
      error: function(data){
        console.log('Error');
        console.log(data);
      }
    })


  })

})


</script>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-12 col-lg-3">
      <h1>{{ request.user }}</h1>
    </div>
    <div class="col-12 col-lg-9">
      {% if not request.GET.q %}
        {% include 'tweets/tweet_form.html' with form=form btn_title='Tweet' action_url=url form_id='tweet-form'%}
      {% endif %}
      <ul class="list-unstyled">
        <div id="tweet-container">

        </div>
      </ul>


        <a id="loadmore" href="#" class="btn btn-link mx-auto">Load More Tweets</a>


    </div>
  </div>
{% endblock %}
