{% extends 'base.html' %}

{% block title %}{{block.super}}{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-12 col-lg-3">
      <h1>{{ request.user }}</h1>
    </div>
    <div class="col-12 col-lg-9">
      <ul class="list-unstyled">
        {% for tweet in object_list %}
          <li class="media">
            <div class="media-body">
              <p>
                  {{tweet.content}}<br>
                  via {{tweet.user}} | {{tweet.timestamp}} | <a href="{% url 'tweets:detail' pk=tweet.pk %}">View</a>
              </p><hr>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
